In [1]:
import pandas as pd
import numpy as np
from dtypes import breweries_dtypes 
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

df = pd.read_csv('../data/breweries.csv', dtype=breweries_dtypes)
# df = pd.read_csv('../data/breweries_68k_with_0_beers.csv', dtype=breweries_dtypes)
df.shape

(68989, 8)

In [2]:
df.isna().sum()

id                 0
name               0
type               0
country            0
city           23561
lat            23760
lng            23760
total_beers        0
dtype: int64

In [259]:
df.lat = df.lat.replace(0, np.nan)
df.lng = df.lng.replace(0, np.nan)

In [267]:
df.to_csv('breweries.csv', index=False)

In [3]:
df[df.total_beers == 0]

,id,name,type,country,city,lat,lng,total_beers
7,96252,Spencer Brewery,Micro Brewery,United States,Spencer,42.293701,-71.999603,0
134,344561,Пивоварня Чаща / Thicket Brewery,Micro Brewery,Russia,Moscow,55.900501,37.529499,0
309,83471,Schwaben Keller,Brew Pub,Russia,Saint Petersburg,59.958962,30.408640,0
387,255911,Stone Brewing Berlin,Micro Brewery,Germany,NaN,52.539299,13.408400,0
635,7167,Tinkoff (Тинькофф),Brew Pub,Russia,Novosibirsk,55.030899,82.903702,0
...,...,...,...,...,...,...,...,...
68981,52532,Barr,Micro Brewery,Scotland,NaN,NaN,NaN,0
68982,33317,Carters,Micro Brewery,England,NaN,NaN,NaN,0
68983,14894,James Fenwicks,Micro Brewery,United States,NaN,NaN,NaN,0
68984,29701,Barq's,Micro Brewery,United States,NaN,NaN,NaN,0
68986,17501,White Brewing Company,Micro Brewery,England,Bexhill,50.849899,0.466207,0

In [246]:
df_rus = df[df.country == 'Russia']
df_usa = df[df.country == 'United States']

In [247]:
df_rus.total_beers.describe()

count    3511.000000
mean       12.582170
std        28.472709
min         1.000000
25%         2.000000
50%         5.000000
75%        11.000000
max       605.000000
Name: total_beers, dtype: float64

In [236]:
df_usa.total_beers.describe()

count    17840.000000
mean        80.496581
std        143.912325
min          1.000000
25%          5.000000
50%         28.000000
75%         96.000000
max       4635.000000
Name: total_beers, dtype: float64

In [264]:
cities_map = {
'Москва': 'Moscow',
'Moskva': 'Moscow',
'Санкт-Петербург': 'Saint Petersburg',
'Saint-Petersburg': 'Saint Petersburg',
'Sankt-Peterburg': 'Saint Petersburg',
'Новосибирск': 'Novosibirsk',
'Краснодар': 'Krasnodar',
'Челябинск': 'Chelyabinsk',
'Екатеринбург': 'Yekaterinburg',
'Ростов-на-Дону': 'Rostov-on-Don',
'Калининград': 'Kaliningrad',
'Барнаул': 'Barnaul',
'Нижний Новгород': 'Nizhny Novgorod',
'Воронеж': 'Voronezh',
'Самара': 'Samara',
'Омск': 'Omsk',
'Красноярск': 'Krasnoyarsk',
'Кемерово': 'Kemerovo',
'Волгоград': 'Volgograd',
'Пермь': 'Perm',
'Тольятти': 'Tolyatti',
'Сочи': 'Sochi',
'Владивосток': 'Vladivostok',
'Ижевск': 'Izhevsk',
'Иркутск': 'Irkutsk',
'Липецк': 'Lipetsk',
'Псков': 'Pskov',
'Томск': 'Tomsk',
'Петрозаводск': 'Petrozavodsk',
}

In [265]:
df['city'] = df.city.replace(cities_map)

In [197]:
'Zarayskiy' in df_rus.city.value_counts()

False